.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.statList {
    display: flex;
    padding-inline-start: 0px;
}

.item {
    width: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: #ffffff; */
    padding-left: 16px;
    padding-right: 16px;
}

.label {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 300;
    color: white;
}

.percentage {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: white;
}
