.transactionHistory {
    width: 600px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 #adacac;
    margin: 0 auto;
}

tr {
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #ecf1f3;
}
th {
    background-color: #00bcd5;
    color: #fff;
    padding: 12px;
    text-transform: uppercase;
}
td {
    padding: 12px;
    text-align: center;
}
